* {                                 
  margin: 0;                        
  padding: 0;                       
}

body {
  font-family: 'Noto Sans', sans-serif;
  font-size: 16px;
  line-height: 1.4;
  color: #000;
  min-width: 320px;
  overflow-x: hidden;
  height: 100vh;
}

@media (min-width: 500px) {

.navbar {
  width: 100%;
  height: 70px;
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  text-align: center;
  /* тень: смещение по x, y, размытость, цвет, прозрачность */
  box-shadow: 0 4px 10px rgba(0, 0, 0, .1); 
}
}
.navbar-brand {
  flex: 2;
  border: 1px solid silver;
}

.navbar-brand a {
  /* значение высоты наследуется от родителя 70px */
  height: inherit;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: #000;
  transition: all .07s ease-in-out;
}

.navbar-brand a:hover {
  color: coral;
}

.navbar-menu {
  flex: 4;
  list-style-type: none;
  border: 1px solid silver;
}

.navbar-menu li {
  display: inline-block;
}

.navbar-menu li a {
  display: inline-block;
  color: #000; 
  opacity: 0.6;
  text-decoration: none;
  padding: 10px;
  /* плавное изменение свойств + функция анимации*/
  transition: all .07s ease-in-out;
}

.navbar-menu li a:hover {
  opacity: 1;
}

.navbar-call {
  flex: 1;
  flex-flow: row nowrap;
  border: 1px solid silver;
}

#navbar-call-number {
  font-size: large;
  float: left;
}

#navbar-call-text {
  font-size: small;
  float: left;
}

.navbar-message a {
  flex: 1;
  padding: 10px 10px;
  background-color: coral;
  border-radius: 100px;
  color: #fff;
  text-decoration: none;
  /* свечение (не как тень) */
  /* отступ по х 0, отступ по у 4px, размытость 6px, цвет */
  box-shadow: 0 4px 6px rgba(255, 127, 80, .2);
  transition: all .1s ease-out;
  border: 1px solid silver;
}

.navbar-message:hover {
  transform: scale(1.04);
  color: #fff;
  box-shadow: 0 9px 9px rgba(255, 127, 80, .5);
}

.navbar-leng {
  flex: 1;
  border: 1px solid silver;
}

/* #header {                  
  width: 100%;                      
  height: 70px;                     
  text-align: center;               
  border-bottom: 4px solid silver;  
  background: #333;                 
  color: #fff;                      
  line-height: 70px;                              
  float: left;  
  position: fixed;                   
}

#img-header-left {
  list-style: none;
  display: block;
  width: 15%;
  margin-left: 30px;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#list-in-header li {                          
  display: inline;                  
  background: #fafafa; 
  color: #333;             
  border: 2px solid silver;         
  padding: 0 20px;          
  cursor: pointer;               
}

#list-in-header li:hover {                   
  color: #fff;                      
  background: #c73535;                 
  border-radius: 8px;               
  border-color: silver;               
}

#list-in-header li:not(:last-of-type) {        
  margin-right: 30px;               
}

#leng {
  display: block;
  width: 50px;
  margin-left: 90%;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

#img-header-right {
  list-style: none;
  display: block;
  width: 50px;
  height: auto;
  margin-left: 95%;
  background-color: #fff;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  cursor: pointer;
}

#img-header-right:hover {
  color: #fff;                      
  background: #c73535;                 
  border-radius: 5px;               
  border-color: silver;
  border: 2px solid;
} */

#main {      
  justify-content: flex-start;                       
  width: 80%;
  height: 100vh;
  margin-top: 70px;                       
  margin-left: 21%;                 
  background: #fafafa;              
  /* border: 1px solid silver;          */
  padding: 20px 2.5px;              
  float: left;
}

#left-side {  
  margin: 0;
  padding: 0;
  display: block;
  justify-content: center;
  width: 20%;  
  height: 100vh;                    
  padding: 20px 2.5px;              
  background: #16c7af;              
  border: 2px solid silver;         
  float: left;                                      
  position: fixed;               
  top: 70px;    
  text-align: left;                
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;500&display=swap');

#button-left {
  width: 80%;
  height: 35px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  background-color: #09a811;
  border: 3px solid silver;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  color: #000;
  font-size: large;
  font-style: italic;
  font-weight: 1000;
  cursor: pointer;
}

#button-left:hover {
  width: 90%;
  height: 40px;
  background-color: #c73535;
  border-radius: 25px;
  color: #fff;
  border-radius: 15px;
  margin-bottom: 15px;
}

.neon-button {
  position: relative;
  left: 50%;
  transform: translate(-50%);
  display: inline-block;
  padding: 15px 30px;
  color: #2196f3;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 24px;
  letter-spacing: 4px;
  overflow: hidden;
  transition: 0.2s;
}

.button_line {
  position: absolute;
  display: block;
}

.button_line-top {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #2196f3);
}

.neon-button:hover .button_line-top {
  left: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button_line-bottom {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #2196f3);
}

.neon-button:hover .button_line-bottom {
  right: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}

.button_line-left {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(0deg, transparent, #2196f3);
}

.neon-button:hover .button_line-left {
  bottom: 100%;
  transition: 1s;
  transition-delay: 0s;
}

.button_line-right {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #2196f3);
}

.neon-button:hover .button_line-right {
  top: 100%;
  transition: 1s;
  transition-delay: 0s;
}

.neon-button:hover {
  box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
  background-color: #2196f3;
  color: #16c7af;
  transition-delay: 1s;
}

#footer {                           
  margin-bottom: 0;                 
  margin-top: 50px;                 
  border-bottom: 0;                 
  border-top: 4px solid silver;     
  float: left;                      
}

#some_block {                       
  background: red;                  
  color: #fff;                      
  text-align: center;               
  width: 50px;                      
  height: 50px;                     
  line-height: 50px;                
  border-radius: 50%;               
  position: absolute;               
  position: fixed;                  
  left: 20px;                       
  top: 50px;                        
}

.block {                            
  background: red;                  
  height: 200px;                    
  width: 200px;                     
  border: 7px dotted silver;        
  border-bottom: 0;                 
  border-top-style: solid;          
  border-style: double;             
  border-radius: 15px 50%;          
  opacity: 0.9;                     
  margin: 20px 50px;                
  padding: 20px 50 px;              
  display: block;                   
}

/* body {                              
  background: #7f9ab3;              
  background-image: url(' ');       
  height: 2000px;
  background-attachment: fixed;              
  background-repeat: no-repeat;     
  background-position: center;      
  background-position: top;         
  background-size: cover;           
} */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.main_text {
  color: #000;
  text-align: center;
  tab-size: 14px;
  font-style: normal;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  text-transform: lowercase;
  word-spacing: normal;
  letter-spacing: normal;
  line-height: 50px;
  text-decoration: underline;
  cursor: copy;
}

#text-in-b {
  color: blue;
}

div b {
  color: green;
}

.main_link:hover {
  color: red;
  text-decoration: underline;
}

p.text:empty {
  color: red;
}